button{
    position: relative;
    overflow: hidden;
    background-color: var(--button-background-color); 
    color: var(--button-text-color); 
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-color); 
    transform: scale(1.05); 
}


button:focus {
    outline: none; 
    box-shadow: var(--button-box-shadow); 
}

