.filters {
    align-items: center;
    justify-content: space-between;
    gap: 1rem; 
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: var(--background-color); 
    border-radius: 8px;
    box-shadow: var(--filter-box-shadow);
}

#categoryFilter, #searchInput {
    width: 300px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid var(--input-border-color); 
    border-radius: 5px; 
    background-color: var(--input-background-color);
    color: var(--input-text-color); 
    transition: var(--filter-transition);}

#categoryFilter:focus, #searchInput:focus {
    border-color: var(--primary-accent-color);
    box-shadow: 0 0 5px var(--primary-accent-color); 
    outline: none; 
}

@media (max-width: 660px) {
    .filters{
        flex-direction: column;
    }
    #searchInput {
        width: 270px; 
    }
}